/public/slim/vendor/
/public/slim/logs/*
!/public/slim/logs/README.md
/public/slim/cache/twig/*
!/public/slim/cache/twig/.keepme
/public/slim/src/settings.php
/public/memos/*
!/public/memos/.keepme
/public/pictures/*
!/public/pictures/.keepme
