{% extends 'layout.html.twig' %}

{% block pagetitle %}Oups...{% endblock %}

{% block content %}
	<div class="row">
		<div class="col s12 m10 l8">
			<div class="card">
				<div class="card-content red-text">
					<p>
						Cette page n'existe pas.
						{% if not isUserAuthenticated() %}
							Vous pouvez accéder à la présentation du projet HandiPressante en <a href="http://www.handipressante.fr">cliquant ici</a>.
						{% endif %}
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}