{% extends 'layout.html.twig' %}

{% block pagetitle %}Réinitialiser votre mot de passe{% endblock %}

{% block content %}
	{% if error is defined and error|length > 0 %}
		<div class="row">
			<div class="col s12 m10 l8">
				<div class="card">
					<div class="card-content red-text">
						<p>
							{{ error }}
						</p>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	{% if sent is defined and sent %}
		<div class="row">
			<div class="col s12 m10 l8">
				<div class="card">
					<div class="card-content blue-text">
						<p>
							Si l'adresse e-mail entrée correspond à un compte existant, vous allez bientôt recevoir un mail contenant un lien de réinitialisation de votre mot de passe.
						</p>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<form class="col s12" method="post" action="{{ path_for('admin_passwordreset') }}">
			<div class="row">
				<div class="input-field col s12 m8 s6">
					<input type="email" id="email" name="email" class="validate" />
					<label for="email">Adresse e-mail :</label>

					<button class="btn waves-effect waves-light" type="submit" name="send">
						Envoyer le lien de réinitialisation
					</button>
				</div>
			</div>
		</form>
	{% endif %}

{% endblock %}