<?php
return [
    'settings' => [
        'displayErrorDetails' => true, // set to false in production
        'addContentLengthHeader' => false, // Allow the web server to send the content-length header

        // Renderer settings
        'renderer' => [
            'template_path' => __DIR__ . '/../templates/',
            'twig' => [
                'cache' => __DIR__ . '/../cache/twig',
                'debug' => true,
                'auto_reload' => true,
            ],
        ],

        // Monolog settings
        'logger' => [
            'name' => 'slim-app',
            'path' => __DIR__ . '/../logs/app.log',
            'level' => \Monolog\Logger::DEBUG,
        ],

        // PDO settings
        'pdo' => [
            'dbname' => 'handipressante',
            'user' => 'root',
            'pass' => '',
        ],

        // Mailer settings
        'mailer' => [
            'host' => 'smtp.server.net',
            'port' => 587,
            'encryption' => 'tls',
            'username' => 'username',
            'password' => 'password',
        ],

        // Upload settings
        'memo_upload_path' => __DIR__ . '/../public/memos/',
    ],
];
